<!DOCTYPE html>
<html>
<head>
	<title>EZTV</title>
	<meta charset='utf-8'>
	<script type="text/javascript" src='js/angular-1.3.15.min.js'></script>
	<script type="text/javascript" src='js/jquery-2.1.3.min.js'></script>
	<script type="text/javascript" src='js/app.js'></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body ng-app='EZTV' ng-controller='first_controller' ng-init="init()">
	<div class="showListContainer"  ng-show="!video">
		<button ng-repeat = "show in showList" ng-click="showEpisodeList(show.showName)">{{show.showName}}</button>
	</div>
	<div ng-repeat = "show in showList" ng-show="!video">
		<div class="episodeList {{show.showName}}_episodes {{show.showName}}">
			<a class="episode" ng-repeat="episode in show.showEpisodes" href="#" ng-click="showVideo(episode.href)" videohref="{{episode.href}}">{{episode.title}}<br></a>
		</div>
	</div>
	<div style="width:100%" ng-show='video'>
		<a href="#" class="close" ng-click="videoClose()">點我回到前頁</a>
		<div class="playerSide_inside"></div>
	</div>
</body>
</html>